## Data Exploration & Cleaning

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv(r'C:\Users\momin\OneDrive\Desktop\Git_Projects\Walmart\Walmart.csv', encoding_errors = 'ignore')

In [5]:
df.shape

(10051, 11)

In [6]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
invoice_id,10051.0,5025.741220,2901.174372,1.00,2513.50,5026.00,7538.50,10000.00
quantity,10020.0,2.353493,1.602658,1.00,1.00,2.00,3.00,10.00
rating,10051.0,5.825659,1.763991,3.00,4.00,6.00,7.00,10.00
profit_margin,10051.0,0.393791,0.090669,0.18,0.33,0.33,0.48,0.57

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

- There are 31 missing values in 'unit_price' and 'quantity'

In [14]:
df.duplicated().sum()

np.int64(0)

In [16]:
# Removing Duplicates
df.drop_duplicates(inplace = True)

In [18]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [17]:
# Dropping missing records since both quantity and unit_price missing to consider it's importance in the data

df.dropna(inplace = True)

In [19]:
df.shape

(9969, 11)

In [21]:
#changing 'unit_price' datatype from object to float
#the values in 'unit_price' has '$' as prefix like '$74.69' so we need to remove that before converting its datatype

df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [22]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [23]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [25]:
df['total'] = df['unit_price'] * df['quantity']

In [26]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [31]:
df.columns = df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

## Connecting to SSMS

In [27]:
!pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\momin\appdata\local\programs\python\python311\lib\site-packages (5.2.0)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp311-cp311-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 2.3 MB/s eta 0:00:00
Collecting greenlet>=1
  Downloading greenlet-3.2.3-cp311-cp311-win_amd64.whl (297 kB)
     -------------------------------------- 297.0/297.0 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\momin\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.13.2)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

server = 'localhost'
database = 'Walmart'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"

engine = create_engine(connection_string)

In [33]:
df.to_sql('walmart_sales', con=engine, if_exists='replace', index=False)

51